@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calibri";
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/Calibri.woff2") format("woff2"),
    url("/fonts/Calibri.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono-Regular.woff") format("woff");
}
